.page{
    background: linear-gradient(90deg, #05EDE3, #645FFB);
    min-width: 90vw;
    height: 64vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    width: 100vw;
}

.container{
    background-color: antiquewhite;
    width: 40vw;
    height: 72vh;
    border-radius: 20px;
    margin-top: -27vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 67vh;
    width: 35vw;
    margin-left: 1vw;
}

.label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #000;
    margin-top: 1rem;
}

.input{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.685);
    height: 2.5rem;
    border-radius: 5px;
    border: none;
    padding-left: .5rem;
}

.senhas{
    display: flex;
    flex-direction: column;
    width: 35vw;
    margin-left: 8.5vw;
}

.labelSenhas{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #000;
    display: flex;
    margin-top: .5rem;
}

.inputSenha{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.685);
    height: 2.5rem;
    border-radius: 5px;
    border: none;
    padding-left: .5rem;
    width: 50%;
}

.input::placeholder{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
}

.title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #0b0b0ea8;
    text-align: center;
}

.buttonEntrar{
    all: unset;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
    width: 20vw;
    height: 8vh;
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    background-color: #645FFB;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 1.5rem;
}