.container {
  background-color: antiquewhite;
  min-width: 35vw;
  border-radius: 2rem;
  margin-top: -17vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 5px 8px 9px rgba(0, 0, 0, 0.397);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50vh;
  width: 30vw;
  align-self: center;
}

.title {
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;
  font-weight: 600;
  color: #0b0b0ea8;
  text-align: center;
  margin-top: 4rem;
}

.label {
  font-family: 'Rubik', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: #000;
  margin-top: 1rem;
}

.input {
  all: unset;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.685);
  height: 3.5rem;
  border: 1px solid;
  border-radius: .5rem;
  padding-left: .5rem;
  background-color: white;
}

.senhas {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}

.labelSenhas {
  font-family: 'Rubik', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: #000;
  margin-top: .5rem;
  padding-bottom: .5rem;
}

.inputSenha {
  all: unset;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.685);
  height: 3.5rem;
  border-radius: .5rem;
  border: 1px solid;
  padding-left: .5rem;
  width: 70%;
  background-color: white;
}

.input::placeholder {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
}

.buttons {
  display: flex;
  width: 30vw;
  align-self: center;
  margin-bottom: 2rem;
}

.buttonCadastrar {
  all: unset;
  margin: 0;
  padding: 1rem 2rem;
  box-sizing: border-box;
  cursor: pointer;
  color: #FFF;
  font-family: 'Rubik', sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  background-color: #645FFB;
  border-radius: 2rem;
  width: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonVoltar {
  all: unset;
  margin-right: 2rem;
  padding: 1rem 2rem;
  box-sizing: border-box;
  cursor: pointer;
  color: #FFF;
  font-family: 'Rubik', sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  background-color: #FA8C10;
  border-radius: 2rem;
  width: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonCadastrar:hover {
  box-shadow: 5px 8px 3px rgba(0, 0, 0, 0.397);
}

.buttonVoltar:hover {
  box-shadow: 5px 8px 3px rgba(0, 0, 0, 0.397);
}

@media (max-width: 768px) {
  .form {
    width: 60vw;
  }

  .container {
    width: 70vw;
  }

  .buttons {
    width: 60vw;
    align-self: center;
  }

  .buttonVoltar {
    width: 25vw;
    font-size: 1.5rem;
  }

  .buttonCadastrar {
    width: 25vw;
    font-size: 1.5rem;
  }
}

.erroInput {
  border-color: red;
}

.spanErro {
  font-size: 1.5rem;
  color: red;
  margin-top: 1rem;
}