.table {
    position: relative;
    width: 70vw;
  
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 17px;
  }
  
  .table-body {
    display: flex;
    flex-direction: column;
  }
  
  .table-line {
    position: relative;
    display: flex;
    justify-content: space-between;
    opacity: 0.6;
    border-bottom: 1px solid #E0E0E0;
    width: 70vw;
  }

  .table-line:hover{
      opacity: 1;
      transform: scale (1.1);
  }
  
  .line-items {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 150px;
    min-height: 55px;
  
    font-family: 'Lato' sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    
    color: #000000;
  }
  
  .edit-icon {
    width: 18px;
    margin-right: 20px;
    
    cursor: pointer;
  }
  
  .delete-icon {
    width: 18px;
    
    cursor: pointer;
  }