.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;

  width: 100vw;
  height: 100vh;

  background-color: rgba(61, 61, 61, 0.48);
}

.close-icon {
  position: absolute;
  width: 26px;
  right: 25px;
  top: 20px;
  cursor: pointer;
}

.modal-containerEdit {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  /* top: 0; 
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto; */
  border-radius: 20px;
  padding: 15px 15px;
  width: 40vw;
  background-color: #fefefe;
  box-shadow: 5px 8px 3px rgba(0, 0, 0, 0.397);
}

.editIcon {
  margin-right: 1rem;
}

.modal-containerEdit h2 {
  font-family: 'Rubik', sans-serif;
  font-size: 2.5rem;
  text-align: left;
  margin-top: 1rem;
  width: 90%;
}

.inputEdit {
  padding: 10px 15px;
  margin: 5px 0;

  font-family: 'Rubik', sans-serif;
  font-size: 1.4rem;
  line-height: 1.8rem;

  color: #000000;
}

.modal-containerEdit form {
  display: flex;
  flex-direction: column;

  width: 90%;
  /* height: 60%; */
}


.modal-containerEdit .labelEdit {
  width: 90%;

  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 2rem;
  text-align: left;
}

/* .inputSenhaEdit {
  display: flex;
  width: 100%;
  padding: 10px 15px;
  margin: 5px 0 15px 0;

  font-family: 'Rubik', sans-serif;
  font-size: 1.4rem;
  line-height: 1.8rem;

  color: #000000;
} */

.buttonEdit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonEditUser {
  all: unset;
  padding: 1rem;
  box-sizing: border-box;
  cursor: pointer;
  color: #FFF;
  text-align: center;
  background-color: #645FFB;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-top: 2rem;
  font-family: 'Rubik', sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
}

.buttonEditUser:hover {
  opacity: 0.8;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.4);
}

/* .container-btn-insert {
  display: flex;
  justify-content: center;
  
  margin-top: 10px;
}

.btn-insert {
  width: 40%;
  height: 35px;
  border: none;
  border-radius: 5px;
  
  cursor: pointer;
  
  font-family: 'Rubik', sans-serif;
  font-size: 1.6rem;
  color: #fff;

  background-color: #645FFB;
  transition: all 0.2s ease;
}

.btn-insert:hover {
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.4);
  opacity: 0.8;
}

.btn-new-transaction {
  width: 50%;
  padding: 5px;
  height: 50px;
  border: none;

  cursor: pointer;
  
  font-size: 1.4rem;
  font-weight: bold;
  color: #ffffff;
  
  background-color: #B9B9B9;
  transition: all 0.2s ease;
}

.btn-new-transaction:hover {
  opacity: 0.9;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.2);
}

.btn-new-transaction:first-child {
  border-radius: 10px 0px 0px 10px;
}

.btn-new-transaction:last-child {
  border-radius: 0px 10px 10px 0px;
} */

@media (max-width:920px) {
  .modal-containerEdit {
    width: 50vw;
  }
}

@media (max-width:620px) {
  .modal-containerEdit {
    width: 65vw;
  }
}

@media (max-width:400px) {
  .modal-containerEdit {
    width: 75vw;
  }

  .modal-containerEdit {
    width: 75vw;
    font-size: 1.5rem;
  }
}