.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  
  width: 100vw;
  height: 100100vh;

  background-color: rgba(61, 61, 61, 0.48);
}

.close-icon {
  position: absolute;
  width: 26px;
  right: 25px;
  top: 20px;
  cursor: pointer;
}

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  /* top: 0; */
  /* right: 0; */
  /* bottom: 0; */
  /* left: 0; */
  /* margin: 0 auto; */
  border-radius: 20px;
  padding: 15px 15px;
  width: 40vw;
  height: 85vh;
  background-color: #fefefe;
}

.modal-container h2 {
  font-family: 'Rubik', sans-serif;
  font-size: 2.5rem;
  text-align: left;
  margin-top: 1rem;
  width: 90%;
}

.modal-container input {
  padding: 10px 15px;
  width: 100%;
  margin: 5px 0 15px 0;

  font-family: 'Rubik' sans-serif;
  font-size: 1.4rem;
  line-height: 1.8rem;
  
  color: #000000;
}

.modal-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  width: 90%;
  /* height: 60%; */
}


.modal-container label {
  width: 90%;
  
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 2rem;
  text-align: left;
}

.container-buttons {
  width: 90%;
  margin-top: 6rem;
  position: absolute;
}

.credit-button, .debit-button {
  cursor: pointer;
}

.container-btn-insert {
  display: flex;
  justify-content: center;
  
  margin-top: 10px;
}

.btn-insert {
  width: 40%;
  height: 35px;
  border: none;
  border-radius: 5px;
  
  cursor: pointer;
  
  font-family: 'Rubik', sans-serif;
  font-size: 1.6rem;
  color: #fff;

  background-color: #645FFB;
  transition: all 0.2s ease;
}

.btn-insert:hover {
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.4);
  opacity: 0.8;
}

.btn-new-transaction {
  width: 50%;
  padding: 5px;
  height: 50px;
  border: none;

  cursor: pointer;
  
  font-size: 1.4rem;
  font-weight: bold;
  color: #ffffff;
  
  background-color: #B9B9B9;
  transition: all 0.2s ease;
}

.btn-new-transaction:hover {
  opacity: 0.9;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.2);
}

.btn-new-transaction:first-child {
  border-radius: 10px 0px 0px 10px;
}

.btn-new-transaction:last-child {
  border-radius: 0px 10px 10px 0px;
}

.credito {
  background: linear-gradient(91.26deg, #05EDE3 0%, #3A9FF1 97.77%);
}

.debito {
  background: linear-gradient(91.66deg, #FA8C10 0%, #FF576B 90.32%);
}

@media (max-width:920px){
  .modal-container {
    width: 50vw;
  }
}

@media (max-width:620px){
  .modal-container {
    width: 65vw;
  }
}