* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.main {
  max-width: 100vw;
  margin-top: -60px;
  /* margin-bottom: 10vh; */
  padding: 30px 30px 0 20px;
  border-radius:60px;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  position: relative;
}

.asideMain {
  display: flex;
  flex-direction: column;
}

.column-title span {
  cursor: pointer;
}

.filters-table-resume {
  margin-top: -20vh;
}

.btn-add:hover {
  opacity: 0.8;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.4);
}

.arrow-up {
  position: absolute;
  top: -10px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid #E4F2FD;
}

.hidden {
  display: none;
}

.footer{
  margin-top: 20vh;
  position: absolute;
  z-index: 0;
}

@media (max-width:960px) {
  .asideMain {
    width: 90vw;
  }
  .filters-table-resume {
    width:100%
  }
}