.imgConcluido{
    width: 15vw;
    height: 15vw;
}

.titleConcluido{
    font-family: 'Rubik', sans-serif;
    font-size: 1.7rem;
    font-weight: 500;
    color: #0b0b0ea8;
    text-align: center;
    margin-top: 2rem;
}

.containerConcluido{
    background-color: antiquewhite;
    border-radius: 2rem;
    margin-top: -22vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 4rem;
    box-shadow: 5px 8px 9px rgba(0, 0, 0, 0.397);
}

@media (max-width: 768px){
    .containerConcluido{
        margin: 0 2rem;
    }
}