.container-filters {
  display: flex;
  padding: 15px 15px 15px 25px;
  border-radius: 10px;
  margin-bottom: 40vh;
  margin-top: -39vh;
  background-color: #FAFAFA;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
}

.lista-filtroPrimeira {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;

  min-height: 80%;
}

.lista-filtro {
  margin: 0;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 10vw;
  gap: 10px;
  border-right: 1px solid #EAEAEA;
}

.filtro-diasemana {
  border-right: 1px solid #EAEAEA;
  width: 17vw;
}

.filtro-categoria,
.filtro-valor {
  margin-left: 20px;
  border-right: 1px solid #EAEAEA;
}

.filtro-valor {
  width: 8vw;
}

.filtro-titulo {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  color: #B9B9B9;
  margin-bottom: 20px;
}

.container-chip {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  padding: 4px 8px 4px 10px;
  border-radius: 10px;

  min-width: 80px;

  font-family: 'Rubik',sans-serif;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #000000;

  background: #FAFAFA;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.min {
  margin-bottom: 15px;
}

.min,
.max {
  display: flex;
  flex-direction: column;
}

.min label,
.max label {
  font-family: 'Rubik',sans-serif;
  font-size: 9px;
  line-height: 11px;
  color: #484848;

  margin-bottom: 2px;
}

#min-value,
#max-value {
  all: unset;
  box-sizing: border-box;
  border: 1px solid #7B61FF;

  width: 80px;
  padding: 3px;

  font-family: 'Rubik',sans-serif;
  font-size: 11px;
  line-height: 11px;
  color: #484848;

  border-radius: 2px;

  background-color: #FFFFFF;
}

.btns-filtro {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 16px;
  width: 23vw;
}

.filters-table {
  /* width: 70vw; */
}

.action-buttons {
  position: relative;
}


.open-filters-button,
.btn-clear-filters,
.btn-apply-filters {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  max-width: max-content;
  margin-bottom: 25px;
  padding: 8px 14px;
  border-radius: 10px;

  background-color: #FAFAFA;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);

  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.7rem;
  color: #000000;
}

.open-filters-button {
  position:fixed;
  max-width: 15rem;
}

.btn-clear-filters,
.btn-apply-filters {
  margin-bottom: 0;
}

.btn-apply-filters {
  color: #FFFFFF;
  background: linear-gradient(90deg, #3A9FF1, #05EDE3);
}

@media (max-width:768px) {
  .btns-filtro {
    flex-direction: column;
  }
}