.container-filters {
  width: 73vw;
  display: flex;
  padding: 15px 15px 15px 25px;
  border-radius: 10px;
  margin-bottom: 40vh;
  margin-top: -39vh;
  background-color: #FAFAFA;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
}

.formularios{
  display: flex;
}

.lista-filtroPrimeira {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;

  min-height: 80%;
}

.lista-filtro {
  margin: 0;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 10vw;
  gap: 10px;
}

.filtro-diasemana {
  border-right: 1px solid #EAEAEA;
  width: 17vw;
}

.filtro-categoria,
.filtro-valor {
  margin-left: 20px;
  border-right: 1px solid #EAEAEA;
}

.filtro-valor {
  width: 8vw;
}

.filtro-titulo {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  color: #B9B9B9;
  margin-bottom: 20px;
}

.container-chip {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  padding: 4px 8px 4px 10px;
  border-radius: 10px;
  width: 8rem;

  font-family: 'Rubik',sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 12px;
  color: #000000;

  background: #FAFAFA;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.container-chip span{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.min {
  margin-bottom: 15px;
}

.min,
.max {
  display: flex;
  flex-direction: column;
}

.min label,
.max label {
  font-family: 'Rubik',sans-serif;
  font-size: 9px;
  line-height: 11px;
  color: #484848;

  margin-bottom: 2px;
}

#min-value,
#max-value {
  all: unset;
  box-sizing: border-box;
  border: 1px solid #7B61FF;

  width: 80px;
  padding: 3px;

  font-family: 'Rubik',sans-serif;
  font-size: 11px;
  line-height: 11px;
  color: #484848;

  border-radius: 2px;

  background-color: #FFFFFF;
}

.btns-filtro {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 16px;
  width: 30vw;
}

.filters-table {
  /* width: 70vw; */
}

.action-buttons {
  position: relative;
}


.open-filters-button,
.btn-clear-filters,
.btn-apply-filters {
  width: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* margin-bottom: 25px; */
  padding: 8px 14px;
  border-radius: 10px;
  background-color: #FAFAFA;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);

  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.7rem;
  color: #000000;
}

.buttonFilter {
  position:relative;
  max-width: 15rem;
  margin-bottom: -7vh;
  margin-left: 5rem;
}

.open-filters-button img {
  margin-right: 4px;
}

.btn-clear-filters,
.btn-apply-filters {
  margin-bottom: 0;
}

.btn-apply-filters {
  color: #FFFFFF;
  background: linear-gradient(90deg, #3A9FF1, #05EDE3);
}

@media (max-width:1020px) {
  .btns-filtro{
    width: 100%;
    align-items: baseline;
    margin-bottom: 2rem;
  }
  .container-filters{
    flex-direction: column-reverse;
    min-width: 73vw;
    margin-top: -38vh;
  }
  .formularios{
    justify-content: space-evenly;
  }
  .filtro-diasemana, .filtro-categoria, .filtro-valor {
    width: 24.3vw;
    display: flex;
    flex-direction: column;
  }
  .filtro-valor{
    border-right: none;
  }
  .container-chip{
    min-width: 10vw;
  }
  .asideMain{
    margin-top: -30px;
  }
}

@media (max-width:960px) {
  .container-filters{
    flex-direction: column-reverse;
    min-width: 100%;
    margin-top: 8vh;
    margin-bottom: -8vh;
  }
  .open-filters-button {
    position: absolute;
    width: 10rem;
    margin-top: 23%;
    margin-left: 0;
  }

  .asideMain{
    margin-top: 15vh;
  }

  .buttonFilter{
    position: absolute;
    max-width: 15rem;
    margin-bottom: -7vh;
    margin-top: 22%;
    margin-left: 2rem;
  }
}

 @media (max-width:720px){
  .buttonFilter{
    position: absolute;
    max-width: 15rem;
    margin-bottom: -7vh;
    margin-top: 35%;
    margin-left: 2rem;
  }
}

@media (max-width:560px){
  .buttonFilter{
    position: absolute;
    max-width: 15rem;
    margin-bottom: -7vh;
    margin-top: 42%;
    margin-left: 2rem;
  }
}

@media (max-width:470px){
  .buttonFilter{
    position: absolute;
    max-width: 15rem;
    margin-bottom: -7vh;
    margin-top: 50%;
    margin-left: 2rem;
  }
}

@media (max-width:370px){
  .buttonFilter{
    position: absolute;
    max-width: 15rem;
    margin-bottom: -7vh;
    margin-top: 60%;
    margin-left: 2rem;
  }
}