.container-header {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
  
    padding-top: 7vh;
    padding-left: 8vw;
    height: 22.3rem;
    
    background: linear-gradient(90deg, #05EDE3, #645FFB);
  }
  
  .titulo {
    font-family: 'Rubik', sans-serif;
    font-weight: bolder;
    font-size: 3.5rem;
    line-height: 4.3rem;
    
    color: #FFFFFF;
  }