.container-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-top: 3vh;
  padding-left: 5vw;
  height: 18rem;
  background: linear-gradient(90deg, #05EDE3, #645FFB);
  }

  .logo{
    display: flex;
    gap:1.5rem;
  }
  
  .titulo {
    font-family: 'Rubik', sans-serif;
    font-weight: bolder;
    font-size: 3.5rem;
    line-height: 4.3rem;
    
    color: #FFFFFF;
  }

  @media (max-width:450px){
    .container-header{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 4vh;
      padding-left: 0;
    }
    .logo{
      align-self: center;
      padding-left: 0;
    }
  }