.navBar{
    display: flex;
    /* flex-direction: column; */
    /* margin-right: 8rem;  */
    padding-top: 2rem;
}

.tituloMenu{
    display: flex;
}

.displayMenu{
    width: 10vw;
    display: flex;
    justify-content: center;
}

.nome{
    text-decoration: none;
    color: #FFF;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    margin-right: -3rem;
}

.imgModal{    
    filter: invert(90%) sepia(77%) saturate(50%) hue-rotate(197deg) brightness(121%) contrast(200%);
    cursor: pointer;
    height: 1.2rem;
    display: flex;
    align-self: center;
    /* margin-right: 2rem; */
}

@media (max-width:750px){
    .navBar{
        align-self: flex-end;
    }
    .displayMenu {
        margin-left: 3rem;
    }
}