.navBar{
    position: fixed;
    margin-left: 71%;
    padding-top: 1rem;
    display: flex;
    padding-right: 1rem;
    margin-right: 10rem;
}

.nome{
    text-decoration: none;
    color: #FFF;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 2rem;
}

.imgModal{    
    filter: invert(90%) sepia(77%) saturate(50%) hue-rotate(197deg) brightness(121%) contrast(200%);
    cursor: pointer;
    height: 1.2rem;
    display: flex;
    align-self: center;
    margin-left: 2rem;
}