.container-headerLogin {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 5rem 0 0 5rem;
    /* padding-top: 45px;
    padding-left: 100px; */
    height: 10vh;
    
    background: linear-gradient(90deg, #05EDE3, #645FFB);
  }
  
  .titulo {
    font-family: 'Rubik', sans-serif;
    font-weight: bolder;
    font-size: 2rem;
    line-height: 43px;
    
    color: #FFFFFF;
  }

  @media (max-width:768px){
    .container-headerLogin {
      align-items: center;
      justify-content: center;
      height: 15vh;
      padding: 0;
    }
  }